.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  border: solid 1px;
  border-radius: 1rem;
  width: 100%;

  img {
    border-radius: 1rem;
    min-width: 300px;
    width: 300px;
    height: auto;
  }
}
