.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  border: solid 1px;
  border-radius: 1rem;
  margin: auto;

  img {
    border-radius: 1rem;
    min-width: 250px;
    max-width: 250px;
    height: auto;
  }
}
