.rootCarrousel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;

  .containerCarrousel {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem;

    .carousel-wrapper {
      overflow: hidden;
      width: 100%;
      .slick-slide {
        display: flex !important;
        justify-content: center;
      }
    }
  }
}
