.rootCarrousel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;

  .containerCarrousel {
    gap: 1rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .carousel-wrapper {
      width: 100%;
      overflow: hidden; // Mantén esto para ocultar los slides fuera de la vista
      max-width: 60vw; // O un ancho fijo, como 900px

      .slick-list {
        // width: 900px !important; /* Ajusta el ancho según tus necesidades */
      }

      .slick-slide {
        display: flex !important;
        justify-content: center;
        // margin: 0 !important;
        // padding: 0 !important;
      }
    }
  }
}
